body {
  /* cambiar el color de fondo a la pagina */
  background: black;
/* añade espacio en la página */
  margin-top: 100px;



}

.login {
  /* centrar en automático*/
  margin: 0 auto;
  /* hacer más ancho el espacio hasta un 200% */
  width: 200px;
  /* le añade al borde el color rojo */
  border: 1px solid red;
  /* le añade relleno a la página */
  padding: 10px;
  /* le añade sombra de color rojo */
  box-shadow: 0px 0px 5px red;
}

.login__user,
.login__pass {
  /* le quita unos bordes al elemento*/
  box-sizing: border-box;
  /* Es la medida del ancho de la página */
  width: 100%
  /* le quita el borde */
  border: 0;
  /* Color de abajo del borde en rojo */
  border-bottom: 1px solid red;
  /*Le da margen al bottom de 15px*/
  margin-bottom: 15px;
  
  background: none;
  color: white;
}

.login__password {

}

.login__submit {
  width: 100%;
  background: red;
  color: white;
  border: 0;
  border-radius: 5px;
  padding: 10px;
}
